<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-centered has-text-weight-bold ">Work in progress</h1>
      </div>
    </div>
  </section>
</body>

<%- include('../partials/footer') %>

</html>