<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  
  <!-- cover -->
  <section class="hero is-primary is-fullheight" style="background-image: url('../../../static/cover.jpg'); background-size: cover;">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-centered has-text-weight-bold ">Welcome to Quizard!</h1>
        <h2 class="subtitle is-2 has-text-centered">Create your own account to begin studying flashcards in <br> a fun interactive way</h2>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Quizard</strong> by Jonathan Li.
      </p>
    </div>
  </footer>
</body>

<%- include('../partials/footer') %>

</html>